{{!-- <script src="/socket.io/socket.io.js"></script> --}}
{{!-- <script src="/js/socket.js"></script> --}}

<h1>Bienvenido/a!</h1>
{{#each allProducts}}
<ul>
    <li>
        Id: {{this._id}}
    </li>
    <li>
        Titulo: {{this.title}}
    </li>
    <li>
        Descripción: {{this.description}}
    </li>
    <li>
        Precio: {{this.price}}
    </li>
    <li>
        Stock: {{this.stock}}
    </li>
    <li>
        Categoria: {{this.categoria}}
    </li>
    <button type="button">Add to Cart</button>
</ul>
{{/each}}