{{!-- <script src="/socket.io/socket.io.js"></script> --}}
{{!-- <script src="/js/socket.js"></script> --}}

{{#each allProducts}}

    <ul class="ulImage">
    <img class="card-image"  src="{{this.thumbnail}}" alt="">
    <li class="liImage">
        Id: {{_id}}
    </li class="liImage">
    <li class="liImage">
        Titulo: {{this.title}}
    </li class="liImage">
    <li class="liImage">
        Descripción: {{this.description}}
    </li class="liImage">
    <li class="liImage">
        Precio: {{this.price}}
    </li class="liImage">
    <li class="liImage">
        Stock: {{this.stock}}
    </li class="liImage">
    <li class="liImage">
        Categoria: {{this.categoria}}
    </li class="liImage">
    <button id="add-btn" type="button">Add to Cart</button>
</ul class="ulImage">



{{/each}}